.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.codeArea {
  flex: 1;
  margin: 16px;
  padding: 8px;
  border: solid 1px #0f0f0f69;
  background-color: #e8e8e8;

  text-align: left;
  font-size: 11pt;
}

.renderArea {
  width: 100%;
}